<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openApiKey</key>
	<string>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</string>
	<key>feedbackEmail</key>
	<string>capturevocabulary@gmail.com</string>
	<key>versionUrl</key>
	<string>https://raw.githubusercontent.com/a110482/version/main/versioneUat.json</string>
	<key>adUnitID</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>lastDatabaseVersion</key>
	<integer>4</integer>
	<key>azureKey</key>
	<string></string>
	<key>YDSecret</key>
	<string>Akad82sCeed8NNALkA83O1zpZUATs26Y</string>
	<key>YDAppKey</key>
	<string>7fd5f497748aca8d</string>
</dict>
</plist>
