<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157424237766-8doe6pt5rh225r6tgctrq2im7vpbgp5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157424237766-8doe6pt5rh225r6tgctrq2im7vpbgp5r</string>
	<key>API_KEY</key>
	<string>AIzaSyCqPByHsohmjqrDafcPB0AFKl5j_1eu2Hk</string>
	<key>GCM_SENDER_ID</key>
	<string>157424237766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elijahTan.capture-vocabulary.CaptureVocabulary.uat</string>
	<key>PROJECT_ID</key>
	<string>wordhouse-9aeba</string>
	<key>STORAGE_BUCKET</key>
	<string>wordhouse-9aeba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157424237766:ios:51637a631f06aec243ebc7</string>
</dict>
</plist>